body {
    margin-bottom: 0%;
}

#sevilla {
    background-color: #D8B6A4;
}

#le_cirque {
    background-color: #E6DDC4;
}

#varq {
    background-color: #D8B6A4;
}

/* NAVBAR */

.navbar-brand {
    color: black;
    font-size: 1.7rem;
}

.nav-link {
    color: black;
    font-size: 1.5rem;
}

/* NAVBAR ENDS */

.title {
    text-align: center;
    font-size: 150px;
    font-family: 'Estonia', cursive;

}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;

}

p {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* SEVILLA */

.text_sevilla {
    margin-left: 100px;
    margin-right: 100px;
}

/* CIRQUE */

.cirque {
    height: 650px;
}

.text_cirque {
    margin-left: 100px;
    margin-right: 100px;
}

/* VARQ */

.text_varq {
    margin-left: 100px;
    margin-right: 100px;
}

.varq {
    height: 750px;
}